<style type='text/css'>

.info {
position:relative;
}
.info span {
position:absolute;
left:-999em;
}
.info:hover span {
left:90px;
top:evt.page;
padding:1px 1px;
border:2px solid #000;
background:#ffc;
z-index:25;
color:#000;
border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.info2 {
position:relative;
}
.info2 span {
position:absolute;
left:-999em;
}
.info2:hover span {
left:0px;
top:+20px;
/*padding:5px 10px; */
padding:1px 1px;
z-index:24;
border:2px solid #000;
background:#ffc;
color:#000;
border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

a:link, a:visited { color: inherit; text-decoration: none; font-weight: normal;}
a:hover { background-color: inherit; color: #ff8888; text-decoration:none; font-weight: bold; }

#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

</style>
